<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Movie booking</title>
</head>

<body>
    <section class="top-bar">
        <div class="left-content">
            <h2 class="title">MoviesFlix</h2>
            <ul class="navigation">
                <li><a href="../index.html">Home</a></li>
                <li><a class="active" href="templates/Now_Showing.html">Now Showing</a></li>
                <li><a href="./Booking_Page.html">Booking Page</a></li>
            </ul>
        </div>

    </section>
    <section class="main-container">
        <div class="sidebar">
            <form action="#">
                <div class="sidebar-groups">
                    <h3 class="sg-title">Categories</h3>
                    <input type="checkbox" id="adventure" name="adventure" value="adventure">
                    <label class="sub-title" for="adventure">Adventure</label><br>
                    <input type="checkbox" id="action" name="action" value="action">
                    <label class="sub-title" for="action">Action</label><br>
                    <input type="checkbox" id="comedy" name="comedy" value="comedy">
                    <label class="sub-title" for="comedy">Comedy</label><br>
                    <input type="checkbox" id="thriller" name="thriller" value="thriller">
                    <label class="sub-title" for="thriller">Thriller</label><br>
                    <input type="checkbox" id="fantasy" name="fantasy" value="fantasy">
                    <label class="sub-title" for="fantasy">Fantasy</label><br>

                </div>
                <div class="sidebar-groups">
                    <h3 class="sg-title">Language</h3>
                    <input type="checkbox" id="english" name="english" value="english">
                    <label class="sub-title" for="english">English</label><br>
                    <input type="checkbox" id="hindi" name="hindi" value="hindi">
                    <label class="sub-title" for="hindi">Hindi</label><br>
                    <input type="checkbox" id="tamil" name="tamil" value="tamil">
                    <label class="sub-title" for="tamil">Tamil</label><br>
                    
                    
                </div>
                <div class="sidebar-groups">
                    <h3 class="sg-title">Time</h3>
                    <input type="radio" id="morning" name="time" value="morning">
                    <label class="sub-title" for="morning">Morning</label><br>
                    <input type="radio" id="night" name="time" value="night">
                    <label class="sub-title" for="night">Night</label><br>
                </div>
                <div class="sidebar-groups">
                    <a href="#" class="btn-l btn">Apply Filters</a>
                </div>
            </form>
        </div>
        <div class="movies-container">
            <div class="upcoming-img-box">
                <img src="../images/GOTV.jpeg" alt="">
                <p class="upcoming-title">Trending Now 499 ₹ Only</p>
                <div class="buttons">
                    <a href="Booking_Page.html" class="btn">Book Now</a>
                    <a href="#" class="btn-alt btn">Play Trailer</a>
                </div>
            </div>
            
            <div class="current-movies">
                <div class="current-movie">
                    <div class="cm-img-box">
                        <img src="../images/p.jpg" alt="">
                    </div>
                    <h3 class="movie-title">Pushpa 2 - The Rule</h3>
                    <p class="movie-info">2h 48m <b>:</b> Action, Thriller, Adventure 16+</p>
                    <div class="booking">
                        <h2 class="price">499 ₹</h2>
                        <a href="Booking_Page.html" class="btn">Book Now</a>
                    </div>
                </div>

                <div class="current-movie">
                    <div class="cm-img-box">
                        <img src="../images/pathanimg.jpg" alt="">
                    </div>
                    <h3 class="movie-title">Pathan</h3>
                    <p class="movie-info">2h 30m <b>:</b> Action, Adventure, Drama 13+</p>
                    <div class="booking">
                        <h2 class="price">359 ₹</h2>
                        <a href="Booking_Page.html" class="btn">Book Now</a>
                    </div>
                </div>

                <div class="current-movie">
                    <div class="cm-img-box">
                        <img src="../images/RRR.jpg" alt="">
                    </div>
                    <h3 class="movie-title">RRR</h3>
                    <p class="movie-info">2h 55m <b>:</b> Action, Adventure, Thriller 13+</p>
                    <div class="booking">
                        <h2 class="price">299 ₹</h2>    
                        <a href="Booking_Page.html" class="btn">Book Now</a>
                    </div>
                </div>
                
                <div class="current-movie">
                    <div class="cm-img-box">
                        <img src="../images/KGF2.jfif" alt="">
                    </div>
                    <h3 class="movie-title">KGF Chapter 2</h3>
                    <p class="movie-info">2h 46m <b>:</b> Action, Thriller, Drama 16+</p>
                    <div class="booking">
                        <h2 class="price">269 ₹</h2>
                        <a href="Booking_Page.html" class="btn">Book Now</a>
                    </div>
                </div>
                <div class="current-movie">
                    <div class="cm-img-box">
                        <img src="../images/PS2-poster.webp" alt="">
                    </div>
                    <h3 class="movie-title">Ponniyin Selvan 2</h3>
                    <p class="movie-info">2h 57m <b>:</b> Action, Adventure, Comdey 13+</p>
                    <div class="booking">
                        <h2 class="price">199 ₹</h2>
                        <a href="Booking_Page.html" class="btn">Book Now</a>
                    </div>
                </div>
                <div class="current-movie">
                    <div class="cm-img-box">
                        <img src="../images/shazamimg.jfif" alt="">
                    </div>
                    <h3 class="movie-title">Shazam</h3>
                    <p class="movie-info">2h 40m <b>:</b> Fantasy, Thriller, Action 16+</p>
                    <div class="booking">
                        <h2 class="price">299 ₹</h2>
                        <a href="Booking_Page.html" class="btn">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>