<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Movie booking</title>
</head>

<body>
    <section class="top-bar">
        <div class="left-content">
            <h2 class="title">MoviesFlix</h2>
            <ul class="navigation">
                <li><a class="active" href="../index.html">Home</a></li>
                <li><a href="Now_Showing.html">Now Showing</a></li>
                <li><a href="Booking_Page.html">Booking Page</a></li>
            </ul>
        </div>
    </section>

    <main>
        <article class="signup">
            <section class="signup-section section">
                <div class="container center">
                    <div class="form form-box">
                        <div class="title center">
                            <h2>Sign IN</h2>
                        </div>
                        <form method="post">
                            <label for="reg-id">Registration ID*</label>
                            <input type="text" id="reg-id" name="reg-id" placeholder="Enter registration ID" required pattern="[0-9A-Za-z]{8}" title="Registration ID must be 8 characters long with alphanumeric values">
                            <br>
            
                            <label for="username">Username*</label>
                            <input type="text" id="username" name="username" placeholder="Enter username" required pattern="[A-Za-z]+" title="Username should not have any digits">
                            <br>
            
                            <label for="password">Password*</label>
                            <input type="password" id="password" name="password" placeholder="Enter password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" title="Password should have at least one small case letter, one uppercase letter, one digit, and one special character with a minimum password length of 8">
                            <br>
                            <button class="btn btn-2">Submit</button>
                            <button class="btn btn-2">Cancel</button>
                        </form>
                    </div>
                </div>
            </section>
        </article>
    </main>

</body>

</html>